n8n/financial_analyst_agent.json
{
  "name": "financial_analyst_agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a financial analyst. Use tools to fetch market data and perform deterministic analyses.\n\nTools available:\n- yf_get_history(ticker: str, period: str = \"5d\", interval: str = \"1d\") -> str  # recent OHLCV\n- run_finance_analysis(question: str, context: str = \"\") -> str  # ProgramOfThought analysis\n\nBehavior:\n- For data retrieval, call yf_get_price / yf_get_history.\n- For calculations, comparisons, or aggregations, call run_finance_analysis with a concise question and include retrieved context.\n- Finish with a concise, well-structured answer.\n\nOutputs:\n- action: primary tool used (one of: yf_get_price, yf_get_history, run_finance_analysis, answer_direct)\n- tool_result: the most relevant tool output used\n- answer: final financial analysis answer"
        }
      },
      "id": "53479fdd-be0d-444d-8e32-83aeb7e06941",
      "name": "Financial Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        624
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "e7dedd4b-f183-4fba-802d-2006f39994be",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        896
      ],
      "credentials": {
        "openAiApi": {
          "id": "aEwEH5APyXx6cq8g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"action\": \"\",\n  \"tool_result\": \"\",\n  \"answer\": \"\"\n}"
      },
      "id": "bb28e42b-85d5-42f9-a3b7-bb040bb245aa",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_message",
              "name": "user_message",
              "type": "string",
              "value": "Compare AAPL and MSFT 5-day performance and provide numeric returns"
            }
          ]
        },
        "options": {}
      },
      "id": "89bdab20-3828-401f-8617-aa0a6da2c901",
      "name": "Set Input3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        624
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}{{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        896
      ],
      "id": "4da2294d-696c-49b1-9776-44b20497103f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        624
      ],
      "id": "fd799a30-bd46-4890-9118-361329223c7a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "toolDescription": "Get recent OHLCV time series for a ticker and timeframe. Inputs: ticker (e.g., AAPL), period (e.g., 5d, 1mo, 3mo), interval (e.g., 1d, 1h, 5m). Use for comparisons, percent returns, and short trend analysis.",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $fromAI(\"ticker\") }}?range={{ $fromAI(\"period\") }}${{ $fromAI(\"interval\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -224,
        896
      ],
      "id": "2f8467cf-c949-4de7-bd6e-2d390ec47784",
      "name": "yf_get_history"
    },
    {
      "parameters": {
        "toolDescription": "Perform deterministic financial calculations or comparisons from provided context. Input JSON via query with: question (string), context (string). Returns a concise numeric/text result (e.g., percent return or comparison outcome).",
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4.1\",\n  \"tools\": [\n    {\n      \"type\": \"code_interpreter\",\n      \"container\": {\n        \"type\": \"auto\"\n      }\n    }\n  ],\n  \"instructions\": \"You are a financial analyst. Please take the brief anr create and run code needed to satisfy the request.\",\n  \"input\": \"{{ $fromAI('financial_analyst_brief') }}\"\n}",
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -48,
        896
      ],
      "id": "df945d5d-fb0f-4592-b4f7-766a8527a9bf",
      "name": "run_finance_analysis",
      "credentials": {
        "httpBearerAuth": {
          "id": "WMmtEj2lQxOs84I8",
          "name": "Bearer Auth account"
        },
        "openAiApi": {
          "id": "aEwEH5APyXx6cq8g",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Input3": {
      "main": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Input3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yf_get_history": {
      "ai_tool": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "run_finance_analysis": {
      "ai_tool": [
        [
          {
            "node": "Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2c76ab8-4346-436c-8014-dc0d3923e154",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb04b4346f624bab301ba87af3de742ec86c55ec1dfa2ee5f5fef9aebaad9741"
  },
  "id": "MRQjcXLduhAU8vkc",
  "tags": []
}