n8n/joke_generator.json
{
  "name": "joke generator",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        208
      ],
      "id": "e9b802f4-8247-47da-8c58-57635cb7d131",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aEwEH5APyXx6cq8g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Joke Generator",
        "formDescription": "Give a word or sentence, get a funny joke back. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What do you want the joke to be about?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -192,
        0
      ],
      "id": "0e7a7bd3-bb7f-4ddc-a8d4-e89e9939e3d6",
      "name": "On form submission",
      "webhookId": "55708c4c-25e7-4922-8ef1-5a99db4f745f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.joke_topic }}",
        "options": {
          "systemMessage": "Task\n- Write one funny, original joke based on a provided topic that could impress seasoned comedy professionals.\n\nInput format\n- You will receive:\n  - topic: a single word or short phrase (e.g., Entertainment, Culture, Misunderstanding).\n\nOutput format\n- Return only the joke text as plain text (no preamble, labels, quotes, hashtags, emojis, or explanations).\n- Length: 1–2 sentences, ideally 15–35 words.\n- End on the strongest, most surprising concrete word or phrase.\n\nAudience bar (what the joke must satisfy)\n- Club owner who’s seen everything: wants a fresh angle with a crisp, earned twist.\n- Pro comedian: allergic to hack premises and groaner puns.\n- Festival curator: seeks a distinctive voice and memorable perspective.\n- Critic: values clear structure and a touch of smart social/cultural observation.\n- Comedy-writing professor: expects economy, tight setup→turn, and timing.\n\nHard avoids\n- No single, obvious pun or one-note wordplay.\n- No stock setups: “X walks into a bar,” “objects go to therapy,” “Wi‑Fi vs commitment,” petri‑dish “culture grows on people,” franchise/sequel therapy, or any prefab template.\n- Don’t lean on familiar premises unless the angle is unmistakably novel:\n  - “Disaster turned into a hustle/startup spin.”\n  - “Cats own the humans” dynamic.\n  - “Vengeance isn’t cinematic; it’s paperwork/shipping.”\n- Avoid listy rule-of-three unless you truly subvert it; no filler tags (“these days,” “amirite,” “that’s just Monday,” “now more than ever”).\n- No punching down, slurs, or needlessly cruel targets.\n- Specifically avoid stale tech overlays:\n  - Religion-as-tech/app/loyalty/gamified salvation (points, tiers, QR codes at the pearly gates, CAPTCHAs for heaven).\n  - Identity-as-software (updates, release notes, patches, rollbacks, versioning).\n  - Any premise that reduces to “X but like an app/algorithm.”\n\nRecommended approach\n1) Narrow the topic to one vivid, contemporary angle or image. Prefer behind-the-scenes behavior, quiet rules/etiquette, ritual mechanics, trend performance, or how meaning/status is performed (e.g., awards-season rituals, museum etiquette, audience behavior).\n2) Brainstorm 3–5 distinct premises. Immediately discard anything that feels familiar, tweet-y, or pun-led. Quick test: would a jaded comic say “I’ve heard that”? If yes, toss it.\n3) Choose the freshest premise and write one tight setup that clearly frames an expectation.\n4) Use one strong device only—misdirection, semantic flip, framing shift, or compressed analogy—and make the turn feel earned, not clever-for-its-own-sake.\n5) Prefer specific nouns and surprising, concrete imagery over abstractions; keep verbs active; trim every extra word.\n6) Land the twist on the final word or phrase; make it a charged, concrete image rather than an adverb or vague tag.\n7) Optional: add one very short, smart tag only if it elevates the premise and isn’t stock.\n\nSelf-check before returning\n- Is the angle genuinely unexpected (not “religion-as-loyalty-program,” “identity-as-update,” or “X as an app/algorithm”)?\n- Is the structure clear (setup → turn → concise payoff) with tight timing?\n- Is there a subtle social/cultural observation or perspective that feels current?\n- Would a club owner not roll their eyes, and a pro comic not groan?\n- Are there zero filler tags, hacky tropes, or listy padding?\n- Does it end on the strongest, most surprising concrete word or phrase?\n- Does it fit 1–2 sentences and roughly 15–35 words?\n- Is it unmistakably original (not echoing common “cats-as-landlords,” “hustle-from-ruin,” or “revenge-as-bureaucracy” beats)?\n\nDeliverable\n- One joke that follows all the above, returned as plain text only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "0d1cceff-39be-4f7b-ac34-f35f0b1a8d9b",
      "name": "AI Agent: Comedian"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Joke: {{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Role-play as the following personas. Each persona should independently evaluate the joke from their own perspective, using their expertise and background.\n\nQuestion to answer:\n\"On a scale of 1 to 5, how funny did you find this joke? (5 = hilarious, 4 = funny, 3 = meh, 2 = not funny, 1 = offensive).\"\n\nInstructions for each persona:\n\nProvide a numerical rating (1–5).\n\nJustify the rating with a short, critical explanation grounded in your background and experience.\n\nBe direct and specific (avoid vague statements).\n\nAfter all personas have answered, synthesize their perspectives into a single, cohesive anonymous joint response that blends their voices into one collaborative paragraph.\n\nDo not mention or name the personas in this final paragraph.\n\nThe joint response should read like a carefully considered, collective opinion rather than a simple summary.\n\nPersonas:\n\n35-year-old comedy club owner who has seen every major standup special and demands originality\n\n42-year-old comedy critic who writes for The New Yorker and analyzes joke structure and social commentary\n\n38-year-old professional comedian who performs nightly and is tired of hacky material\n\n45-year-old comedy festival curator who looks for unique voices and fresh perspectives\n\n40-year-old comedy writing professor who teaches advanced joke construction and timing\n\nExample Funny Jokes:\n===================\n1. Give a man a fish, and he'll probably follow you home expecting more fish. - Ricky Gervais\n\n2. Where there's a will – there's a relative! - Ricky Gervais\n\n3. 1st of December, World Aids Day….I don't think it'll ever take off like Christmas. - Ricky Gervais\n\n4. I like a drink as much as the next man. Unless the next man is Mel Gibson. - Ricky Gervais\n\n5. It's gonna be a night of partying and heavy drinking. Or as Charlie calls it: breakfast. - Ricky Gervais\n\n6. It seems like everything this year was three-dimensional, except the characters in The Tourist. - Ricky Gervais\n\n7. You won't burn in hell. But be nice anyway. - Ricky Gervais\n\n8. My greatest hero is Nelson Mandela. What a man. Incarcerated for 25 years, he was released in 1990 and he hasn't reoffended. I think he's going straight, which shows you prison does work. - Ricky Gervais\n\n9. Remember, when you are dead, you do not know you are dead. It is only painful for others. The same applies when you are stupid. - Ricky Gervais\n\n10. Mondays are fine. It's your life that sucks. - Ricky Gervais\n\n11. Remember, if you don't sin, then Jesus died for nothing. - Ricky Gervais\n\n12. I could solve the world's problems if I… cared. - Ricky Gervais\n\n13. I can have a go at the French cause I'm half French half English with a stupid name like Gervais. No I am, I'm half French half English and um I've got qualities of both, French and English which is good, so um… I am crap in bed but at least I've got bad breath. - Ricky Gervais\n\n14. Do commandos not wear pants? They must wear pants, don't they? - Ricky Gervais\n\n15. Same sex marriage is not a gay privilege, it's equal rights. Privilege would be something like gay people not paying taxes. Like churches don't. - Ricky Gervais\n\n16. I've never worked out what the moral of Humpty Dumpty is. I can only think of: Don't sit on a wall, if you're an egg. - Ricky Gervais\n\n17. Avoid employing unlucky people – throw half of the pile of CVs in the bin without reading them. - Ricky Gervais\n\n18. For any of you who don't know, the Golden Globes are just like the Oscars, but without all that esteem. The Golden Globes are to the Oscars what Kim Kardashian is to Kate Middleton. A bit louder, a bit trashier, a bit drunker, and more easily bought. - Ricky Gervais\n\n19. If your boss is getting you down, look at him through the prongs of a fork and imagine him in jail. - Ricky Gervais\n\n20. I can't find someone funny whom I don't like. Hitler told great jokes. - Ricky Gervais\n\n21. America champions the underdog. We champion the under dog until he's not the underdog anymore, and he annoys us. - Ricky Gervais\n\n22. You have to be 100% behind someone, before you can stab them in the back. - Ricky Gervais\n\n23. Remember, being healthy is basically dying as slowly as possible. - Ricky Gervais\n\n24. I'd like to thank God for making me an atheist. - Ricky Gervais\n\n25. Piracy doesn't kill music, boy bands do. - Ricky Gervais\n\n26. My wealth and happiness would suggest that God definitely does love me. If he existed of course. Which he doesn't. - Ricky Gervais\n\n27. Following someone on Twitter and asking them to tweet about something else is like stalking someone and asking them to go a different route. - Ricky Gervais\n\n28. Please don't worship me. I'm just an ordinary guy, with lots of followers trying to spread my message. Sort of like Jesus Christ I guess. - Ricky Gervais\n\n29. iPhones are Barbie Dolls for grown men. You carry them round, dress them up in little outfits, accessorise, & get a new one every year. - Ricky Gervais\n\n30. Give a man a fish, and he'll probably follow you home expecting more fish. - Ricky Gervais\n\n31. It seems to be true, particularly in middle America, that those most militant about using up fossil fuels, don't actually believe in fossils - Ricky Gervais\n\n32. My father drank so heavily, when he blew on the birthday cake he lit the candles. - Les Dawson\n\n33. I was in my car driving back from work. A police officer pulled me over and knocked on my window. I said, 'One minute I'm on the phone.' - Alan Carr\n\n34. I worry about ridiculous things, you know, how does a guy who drives a snowplough get to work in the morning… that can keep me awake for days. - Billy Connolly\n\n35. I used to go out with a giraffe. Used to take it to the pictures and that. You'd always get some bloke complaining that he couldn't see the screen. - Paul Merton\n\n36. Here's a picture of me with REM. That's me in the corner. - Milton Jones\n\n37. People say 'Bill, are you an optimist?' And I say, 'I hope so.' - Bill Bailey\n\n38. I rang up British Telecom and said: 'I want to report a nuisance caller.' He said: 'Not you again.' - Tim Vine\n\n39. Life is like a box of chocolates. It doesn't last long if you're fat. - Joe Lycett\n\n40. We weren't very religious. On Hanukkah, my mother had our menorah on a dimmer. - Richard Lewis\n\n41. My girlfriend is absolutely beautiful. Body like a Greek statue – completely pale, no arms. - Phil Wang\n\n42. Normally you have news, weather and travel. But not on snow day. On a snow day, the news is weather is travel. - Michael McIntyre\n\n43. I bought myself some glasses. My observational comedy improved. - Sara Pascoe\n\n44. If I was an Olympic athlete, I'd rather come in last than win the silver medal. You win the gold, you feel good. You win the bronze, you think, 'at least I got something.' But you win that silver, that's like, 'Congratulations, you almost won! Of all the losers, you came in first! You're the number one loser! No one lost ahead of you!' - Jerry Seinfeld\n\n45. My star sign is Pyrex. I was a test-tube baby. - Billy Connolly\n\n46. I always take my wife morning tea in my pyjamas. But is she grateful? No, she says she'd rather have it in a cup. - Eric Morecambe\n\n47. A man walks into a chemist's and says, 'Can I have a bar of soap, please?' The chemist says, 'Do you want it scented?' And the man says, 'No, I'll take it with me now.' - Ronnie Barker\n\n48. Crime in multi-storey car parks. That is wrong on so many different levels. - Tim Vine\n\n49. You know you're working class when your TV is bigger than your bookcase. - Rob Beckett\n\n50. Owls haven't got necks, have they? An owl is essentially a one-piece unit. - Ross Noble\n\n51. If you arrive fashionably late in Crocs, you're just late. - Joel Dommett\n\n52. My phone will ring at 2am and my wife'll look at me and go, \"Who's that calling at this time?\" I say, \"I don't know. If I knew that we wouldn't need the bloody phone.\" - Lee Evans\n\n53. I doubt there's a heaven; I think the people from hell have probably bought it for a timeshare. - Victoria Wood\n\n54. I said to the gym instructor: \"Can you teach me to do the splits?\", He said: \"How flexible are you?\", I said: \"I can't make Tuesdays.\" - Tommy Cooper\n\n55. Do Transformers get car, or life insurance? - Russell Howard\n\n56. Alright lads, a giant fly is attacking the police station. I've called the SWAT team! - Greg Davies\n\n57. A good rule to remember for life is that when it comes to plastic surgery and sushi, never be attracted by a bargain. - Graham Norton\n\n58. Two monkeys were getting into the bath. One said: 'Oo, oo, oo, aah aah aah.' The other replied: 'Well, put some cold in it then.' - Harry Hill\n\n59. My parents did just well enough so I could grow up poor around white people. When Nas and them used to talk about the projects, I used to get jealous. It sounded fun. Everybody in the projects was poor, and that's fair. But if you were poor in Silver Spring, nigga, it felt like it was only happening to you. - Dave Chappelle\n\n60. What is Rachel willing to do, so that we blacks believe that she believes she is actually one of us? Bitch, are you willing to put a lien on your house so that you can invest in a mixtape that probably won't work out? - Dave Chappelle\n\n61. I don't like looking at my dick anymore. My dick looks distinguished. It's old, an old-looking dick. It's got salt-and-pepper hair all around it. My dick looks like Morgan Freeman in the '90s. - Dave Chappelle\n\n62. This motherfucker calls me up in the middle of the night. It was one o'clock in the morning and he goes, 'Dad, don't be mad […] I'm at a party and my designated driver had too much to drink. Me and friends need you to come pick us up.' I said, 'Jesus Christ, it's one o'clock in the morning. Nigga, I am shit-faced!' - Dave Chappelle\n\n63. Eight years later, I'm pulling up to the polls again. This time, I'm driving a brand-new Porsche because the Obama years were very good to me […] I walked up and saw a long, long line of dusty white people […] I stood with them in line, like all us Americans are required to do in a democracy. Nobody skips the line to vote. And I listened to them say naïve, poor white people things. - Dave Chappelle\n\n64. This motherfucker [Donald Trump] grabbed the podium and he goes, 'You don't know how scary the things I read in my briefings are.' Holy shit, man, you ain't supposed to tell us that, bro! - Dave Chappelle\n\n65. I respect everybody's beliefs, except Amish people. They are the only ones I can say clearly, 'Their God is wrong.' The speed limit is 75 miles an hour in Ohio, and one lane of traffic is blocked by a goddamned horse and buggy? - Dave Chappelle\n\n66. You think I go to a Hollywood meeting with all them white people by myself? I bring my nigga Mac Mittens from the streets […] He's not even qualified to listen to these meetings, he just makes me feel good. - Dave Chappelle\n\n67. The tough part of being a comedian and knowing the motherfucker is, everybody comes up to me like, 'Did you know? Did you know what Louis was doing?' No, bitch, I did not know. - Dave Chappelle\n\n68. I could kill every white person in America at one time. You know how I'd do it? Just wait for the Super Bowl, and right when they sing the National Anthem, I'd have O.J. Simpson walk to the 50-yard line with them bad knees. - Dave Chappelle\n\n69. I used to do shows for drug dealers that wanted to clean their money up. One time I did a real good set, and these motherfuckers called me into the back room. They gave me $25,000 in cash […] I jumped on the subway and started heading towards Brooklyn at one o'clock in the morning. - Dave Chappelle\n\n70. Scottish-Americans tell you that if you want to identify tartans, it's easy – you simply look under the kilt, and if it's a quarter-pounder, you know it's a McDonald's. - Billy Connolly\n\n71. Before you judge a man, walk a mile in his shoes. After that who cares? He's a mile away and you've got his shoes! - Billy Connolly\n\n72. I hate all those weathermen, too, who tell you that rain is bad weather. There's no such thing as bad weather, just the wrong clothing, so get yourself a sexy raincoat and live a little. - Billy Connolly\n\n73. I'm a huge film star, but you have to hurry to the movies because I usually die in the first 15 f***ing minutes. I'm the only guy I know who died in a f***ing Muppet Movie. - Billy Connolly\n\n74. I always look skint. When I buy a Big Issue, people take it out of my hand and give me a pound. - Billy Connolly\n\n75. One sex therapist claims that the most effective way to arouse your man is to spend 10 minutes licking his ears. Personally, I think its bollocks. - Billy Connolly\n\n76. When people say while watching a film 'did you see that? No tosser, I paid ten quid to come to the cinema and stare at the f***ing floor. - Billy Connolly\n\n77. I get claustrophobic easily and I don't get why aeroplane toilets don't f***ing have windows. I mean it's not as if anyone can f***ing see in. Unless of course you are the most determined pervert in the world. - Billy Connolly\n\n78. My star sign is Pyrex. I was a test-tube baby. - Billy Connolly\n\n79. Don't buy one of those baby intercoms. Babies pretend to be dead. They're bastards, and they do it on purpose. - Billy Connolly\n\n80. Why do people say 'Oh you want to have your cake and eat it too?' Dead right! What good is a cake if you can't eat it? - Billy Connolly\n\n81. When people say 'life is short'. What the f***? Life is the longest damn thing anyone ever f***ing does! What can you do that's longer? - Billy Connolly\n\n82. I like a woman with a head on her shoulders. I hate necks. - Steve Martin\n\n83. I have a lot of growing up to do. I realised that the other day inside my fort. - Zach Galifianakis\n\n84. I used to work at McDonald's making minimum wage. You know what that means when someone pays you minimum wage? You know what your boss was trying to say? 'Hey, if I could pay you less, I would, but it's against the law.' - Chris Rock\n\n85. Love is like a fart. If you have to force it it's probably s***. - Stephen K. Amos\n\n86. I like an escalator because an escalator can never break. It can only become stairs. There would never be an 'Escalator Temporarily Out of Order' sign, only 'Escalator Temporarily Stairs'. - Mitch Hedberg\n\n87. If I was an Olympic athlete, I'd rather come in last than win the silver medal. You win the gold, you feel good. You win the bronze, you think, 'at least I got something.' But you win that silver, that's like, 'Congratulations, you almost won! Of all the losers, you came in first! You're the number one loser! No one lost ahead of you!' - Jerry Seinfeld\n\n88. We weren't very religious. On Hanukkah, my mother had our menorah on a dimmer. - Richard Lewis\n\n89. My girlfriend is absolutely beautiful. Body like a Greek statue – completely pale, no arms. - Phil Wang\n\n90. If God had written the Bible, the first line should have been 'It's round.' - Eddie Izzard\n\n91. I bought myself some glasses. My observational comedy improved. - Sara Pascoe\n\n92. Trump's nothing like Hitler. There's no way he could write a book. - Frankie Boyle\n\n93. You know you're working class when your TV is bigger than your book case. - Rob Beckett\n\n94. Most of my life is spent avoiding conflict. I hardly ever visit Syria. - Alex Horne\n\n95. A spa hotel? It's like a normal hotel, only in reception there's a picture of a pebble. - Rhod Gilbert\n\n96. Life is like a box of chocolates. It doesn't last long if you're fat. - Joe Lycett\n\n97. My Dad said, always leave them wanting more. Ironically, that's how he lost his job in disaster relief. - Mark Watson\n\n98. Apparently smoking cannabis can affect your short term memory. Well if that's true, what do you think smoking cannabis does? - Mickey P Kerr\n\n99. How many philosophers does it take to change a lightbulb?…. none. They're not really into that sort of thing. If it's that dark, light a candle. - Phil Cornwell\n\n100. The first time I met my wife, I knew she was a keeper. She was wearing massive gloves. - Alun Cochrane\n\n101. As a kid I was made to walk the plank. We couldn't afford a dog. - Gary Delaney\n\n102. Two fish in a tank. One says: 'How do you drive this thing?' - Peter Kay\n\n103. I saw a documentary on how ships are kept together. Riveting! - Stewart Francis\n\n104. People who like trance music are very persistent. They don't techno for an answer. - Joel Dommett\n\n105. I used to go out with a giraffe. Used to take it to the pictures and that. You'd always get some bloke complaining that he couldn't see the screen. It's a giraffe, mate. What do you expect? 'Well he can take his hat off for a start!' - Paul Merton\n\n106. Normally you have news, weather and travel. But not on snow day. On a snow day, news is weather is travel. - Michael McIntyre\n\n107. Here's a picture of me with REM. That's me in the corner. - Milton Jones\n\n108. Someone showed me a photograph of my local MP the other day. 'Would you buy a second-hand car from this man?' they asked. 'Would you buy a second-hand car?' I replied. - Miles Jupp\n\n109. With stand-up in Britain, what you have to do is bloody swearing. In Germany, we don't have to swear. Reason being, things work. - Henning When\n\n110. I'm learning the hokey cokey. Not all of it. But – I've got the ins and outs. - Iain Stirling\n\n111. Roses are red, violets are blue, I'm a schizophrenic, and so am I. - Billy Connolly\n\n112. My mother told me, you don't have to put anything in your mouth you don't want to. Then she made me eat broccoli, which felt like double standards. - Sarah Millican\n\n113. My therapist says I have a preoccupation with vengeance. We'll see about that. - Stewart Francis\n\n114. I'm sure wherever my Dad is, he's looking down on us. He's not dead, just very condescending. - Jack Whitehall\n\n115. 'What's a couple?' I asked my mum. She said, 'Two or three'. Which probably explains why her marriage collapsed. - Josie Long\n\n116. The easiest time to add insult to injury is when you're signing somebody's cast. - Demetri Martin\n\n117. I was in my car driving back from work. A police officer pulled me over and knocked on my window. I said, 'One minute I'm on the phone.' - Alan Carr\n\n118. I doubt there's a heaven; I think the people from hell have probably bought it for a timeshare. - Victoria Wood\n\n119. I said to the gym instructor: 'Can you teach me to do the splits?' He said: 'How flexible are you?' I said: 'I can't make Tuesdays.' - Tommy Cooper\n\n120. A man walks into a chemist's and says, 'Can I have a bar of soap, please?' The chemist says, 'Do you want it scented?' And the man says, 'No, I'll take it with me now.' - Ronnie Barker\n\n121. It's really hard to define 'virtue signalling', as I was saying the other day to some of my Muslim friends over a fair-trade coffee in our local feminist bookshop. - Lucy Porter\n\n122. If we were truly created by God, then why do we still occasionally bite the insides of our own mouths? - Dara Ó Briain\n\n123. Do Transformers get car, or life insurance? - Russell Howard\n\n124. Alright lads, a giant fly is attacking the police station. I've called the SWAT team! - Greg Davies\n\n125. A good rule to remember for life is that when it comes to plastic surgery and sushi, never be attracted by a bargain. - Graham Norton\n\n126. My father drank so heavily, when he blew on the birthday cake he lit the candles. - Les Dawson\n\n127. I've been feeling suicidal so my therapist suggested I do CBT. Now I can ride a motorbike, how's that going to help? - Eric Lampaert\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "23cf8a58-35cc-42b2-8092-06b3730a68ce",
      "name": "AI Agent: Judge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        208
      ],
      "id": "168c6bda-d1c5-480c-aeaa-fed79f880c10",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "aEwEH5APyXx6cq8g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Comedy Joke Evaluation\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"ComedyClubOwner\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"rating\": {\n          \"type\": \"integer\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"explanation\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"rating\", \"explanation\"]\n    },\n    \"ComedyCritic\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"rating\": {\n          \"type\": \"integer\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"explanation\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"rating\", \"explanation\"]\n    },\n    \"ProfessionalComedian\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"rating\": {\n          \"type\": \"integer\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"explanation\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"rating\", \"explanation\"]\n    },\n    \"FestivalCurator\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"rating\": {\n          \"type\": \"integer\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"explanation\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"rating\", \"explanation\"]\n    },\n    \"ComedyWritingProfessor\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"rating\": {\n          \"type\": \"integer\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"explanation\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"rating\", \"explanation\"]\n    },\n    \"JointResponse\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"ComedyClubOwner\",\n    \"ComedyCritic\",\n    \"ProfessionalComedian\",\n    \"FestivalCurator\",\n    \"ComedyWritingProfessor\",\n    \"JointResponse\"\n  ],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        208
      ],
      "id": "bfa07d4c-6997-47d2-8249-1cc090a6b2d5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "output.ComedyClubOwner.rating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1056,
        0
      ],
      "id": "17690264-5ccf-49be-9f4c-cd11fd53b86e",
      "name": "Calc average funny"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "137c99e5-4506-4a7d-815e-18b7d9a44c7b",
              "leftValue": "={{ $json.average_output_ComedyClubOwner_rating }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        0
      ],
      "id": "609bc0b2-711e-48d6-bdd7-9bbfcfb0234e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "=Funny Joke Told | Score: {{ $json.average_output_ComedyClubOwner_rating }}/5",
        "completionMessage": "={{ $('AI Agent: Comedian').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1568,
        16
      ],
      "id": "e47db6e7-651b-47d1-a01c-f8d2ca4e9107",
      "name": "Form",
      "webhookId": "a21d841d-6088-46e8-a9e1-8fbab9f38128"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23444bce-6563-4c89-9413-3f6d96e1477c",
              "name": "joke_topic",
              "value": "={{ $json[\"What do you want the joke to be about?\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "77b7465b-dbf8-4c99-adba-b966aac30c75",
      "name": "set joke_topic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96a0ada1-e48b-4210-b67d-24a7ad839541",
              "name": "joke_topic",
              "value": "={{ $('On form submission').item.json[\"What do you want the joke to be about?\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        240
      ],
      "id": "e2c7d7b6-74e6-4691-affe-c6913ad78ca3",
      "name": "remember joke_topic"
    },
    {
      "parameters": {
        "content": "# Funny Joke Generator",
        "height": 704,
        "width": 2160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -144
      ],
      "id": "06c1fe19-e684-49d8-ae6e-17c99e4d5b26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Comedian",
        "height": 400,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -48
      ],
      "id": "88c8598e-ea12-4d5f-9cfe-0021ebc04423",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Judge",
        "height": 400,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -48
      ],
      "id": "3213e10a-67e6-48b7-b46d-92d7b3a9aded",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Comedian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "set joke_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Comedian": {
      "main": [
        [
          {
            "node": "AI Agent: Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Judge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Judge",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Judge": {
      "main": [
        [
          {
            "node": "Calc average funny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc average funny": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "remember joke_topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set joke_topic": {
      "main": [
        [
          {
            "node": "AI Agent: Comedian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remember joke_topic": {
      "main": [
        [
          {
            "node": "AI Agent: Comedian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ad2489d-31c0-42ce-a3fb-d79a6de955f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb04b4346f624bab301ba87af3de742ec86c55ec1dfa2ee5f5fef9aebaad9741"
  },
  "id": "ziRpXmMJx2so9yrt",
  "tags": []
}